.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  border-bottom: 1px solid #999;
  padding-bottom: 12px;
}

.linkWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.link {
  display: flex;
  margin: 0 6px;
  color: #0070f3;
  font-size: 16px;
  transition: linear 100ms all;
}

.activeLink {
  font-weight: 500;
}

.contentWrap {
  width: 700px;
  word-wrap: break-all;
}
