.wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background: #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
